<!-- <!DOCTYPE html>
<head>
  <title>CSV Converter</title>
	<body>
		<form action="/" name="post_request" method="post">
      <div style="color:gray">JSON DATA to CSV Converter</div>
      <textarea name="json" rows="20" cols="50"></textarea>
			<input class="submitbutton" type="submit" value="Submit" />
    </form>
    <div id='csv'></div>
    <ul>
        <% split.forEach(function(row) { %>
            <li><%= row %></li>
        <% }); %>
    </ul>
		<script type="text/javascript" src="./app.js"></script>
	</body>
</head>

 -->
